.review-form{
  height: 300px;
  display: flex;

}

.review-form label{
  flex: 1;
  text-align: center;
}


.review-form input{
  position: absolute;
  top: -10px;
  z-index: -10;
}
.review-form span{
  color: white;
  font-size: 28px;
  margin-right: 10px;
}

.review-form p{
  display: block;
  color: silver;
  font-size: 12px;
}

.review-form input:checked ~ span svg {
  fill: #198754;
}