.review-form{
  height: 300px;
}

.review-form label{
  flex: 1;
  color: white;
}

.review-form .row{
  text-align: center;
  display: flex;
  margin-bottom: 30px;
}

.review-form input{
  position: absolute;
  top: -100px;
  z-index: -10;
}
.review-form span{
  color: white;
  font-size: 28px;
  margin-right: 10px;
}

.review-form p{
  display: block;
  color: silver;
  font-size: 12px;
}

.review-form input:checked ~ span svg {
  fill: #198754;
}

.review-form textarea{
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}